<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Our Blog Site!</h1>
    <h3>Check out our blogs</h3>

    <p>Please use the form below to submit a Blog Post:</p>
    <form action="#" th:action="@{/}" th:object="$blogPost" method="post"></form>

    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}" /></td>
        </tr>
        <tr>
            <td>Blog Entry</td>
            <td><input type="text" th:field="*{author}" /></td>
        </tr>
        <tr>
            <td>Blog Entry</td>
            <td><input type="text" th:field="*{blogEntry}" /></td>
        </tr>
        <tr><button type="Submit">Submit Your Post</button>
        </tr>
    </table>
</body>
</html>